<h1>Recent Posts</h1>
  <div class="feed_container">
      <% @posts.each do |post| %>
      <div class="row">
      <div class="col-sm">
        <!-- <div class="card" style="width: 18.9rem, height: 32rem;"> -->
        <h4><%= link_to post.user.username, user_path(post.user) %>:</h4>
        <blockquote><h2>
          "<%= post.caption %>"
        </h2></blockquote>
        <a href="<%= post_path(post) %>"><%= image_tag post.image, class:"rounded" %></a>
        <!-- </div> -->
      </div>
    </div>
    <% end %>
  </div>
