<h1>All Posts</h1>

<% @posts.each do |post|  %>
  <p><%= link_to post.user.username, user_path(post.user) %>:</p>
  <li><%= post.caption %> <%= link_to "See This Post", post_path(post) %></li>
  <img src="<%= post.image %>">
  <br>
  <hr>
<% end %>
