// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_link {
  width: 300px;
  height: 300px;
  border: 2px solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 275px;
  justify-self: center;
}

.category_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  font-size: 30px;
}
