// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.post_img {
  width: 80%;
  height: 80%;
  border: 2px solid white;
  margin: 50px;
}

.post_caption {
  margin-left: 50px;
}

.posts {
  background-color: pink;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
