// // Place all the styles related to the Users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
* {
  box-sizing: border-box; // when ever there is any width factor in the margin and padding into the width
}

body {
  background: #232323;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}

.container {
  max-width: 1000px; // because we want it to be responseive
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.brand span {
  color: #79BAEC;
}

.new_wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  background-color: #f9feff;
  border-radius: 10%;

}

.new_wrapper > * { // everything inside our wrapper
  padding: 1em;
}

.new_wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.submit {
  // text-align: center;
}


#profile_pic {
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 auto;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  letter-spacing: 5px;
}

.h2login {
  text-align: center;
  background-color: #79BAEC;
  margin: 0 auto;
}

.form-control {
  margin: 0 auto;
  width: 60%;
  border: 1px solid #79BAEC;
}

.new_submit {
  padding: 25px;
}
