<h1>Categories</h1>

<div class="category_wrapper">
  <% @categories.each do |category|  %>
  <div class="category_link"><%= link_to category.name, category_path(category) %></div>
  <% end %>
</div>
