<h1><%= @category.name %></h1>

<div class="users_container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm">
        <div class="card" style="width: 18.9rem;">
          <%= image_tag post.image %>
          <div class="card-body">
            <h5 class="card-title"><%= post.caption %></h5>
            <a href="<%= post_path(post) %>" class="btn btn-primary">See This Post</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
